@define-color bar-bg rgba(11,49,58,0.01);
@define-color main-bg rgba(11,49,58,0.8);
@define-color main-fg rgba(170,226,240,0.8);
@define-color wb-act-bg rgba(32,106,149,0.4);
@define-color wb-act-fg rgba(204,236,255,1);
@define-color wb-hvr-bg rgba(75,114,125,0.4);
@define-color wb-hvr-fg rgba(170,217,240,0.8);
