@define-color bar-bg rgba(55,54,58,0.01);
@define-color main-bg rgba(55,54,58,0.8);
@define-color main-fg rgba(188,170,240,0.8);
@define-color wb-act-bg rgba(221,216,215,0.4);
@define-color wb-act-fg rgba(255,213,204,1);
@define-color wb-hvr-bg rgba(125,75,89,0.4);
@define-color wb-hvr-fg rgba(240,170,183,0.8);
