@define-color bar-bg rgba(46,52,64,0.01);
@define-color main-bg rgba(46,52,64,0.8);
@define-color main-fg rgba(170,193,240,0.8);
@define-color wb-act-bg rgba(132,186,201,0.4);
@define-color wb-act-fg rgba(204,244,255,1);
@define-color wb-hvr-bg rgba(75,105,125,0.4);
@define-color wb-hvr-fg rgba(170,218,240,0.8);
